@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:wght@400;500&family=Raleway&display=swap');

body {
    background: white;
    font-family: "Playfair+Display";
    font-weight: 300;
    font-size: 20px;
    color: #2d2d2d;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: white;
}

#main h1 {
    font-family: "Playfair+Display";
    font-size: 50px;
    font-weight: 500;
    color: white;
    text-align: left;
    margin-left: 120px;
    margin-top: 570px;
}

#main h2 {
    font-family: "Playfair+Display";
    font-size: 20px;
    font-weight: 300;
    color: whitesmoke;
    margin-left: 120px;
}

#main .container-fluid {
    background: url(../imageForIP/image_backgrounde.png);
    padding-bottom: 9px;
}

#registration .row {
    font-family: "Playfair+Display";
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 120px;
}

#registration .btn {
    margin-top: 20px;
}

#registration h1 {
    font-family: "Playfair+Display";
    font-size: 50px;
    font-weight: 500;
    color: #2d2d2d;
    text-align: center;
    margin-left: 120px;
    margin-right: 120px;
}



.centered {
    text-align: center;
}

#tours .image-tours {
    background: url(../imageForIP/img_back_tours.png);
    margin-top: -10px;
    margin-left: -15px;
    min-height: 285px;
    width: 101.6%;
}

#tours h1 {
    font-family: "Playfair+Display";
    font-size: 55px;
    font-weight: 500;
    color: white;
    margin-left: 120px;
    margin-top: -95px;
}

#tours .row {
    margin-top: 100px; 
}

#tours h5 {
    font-family: "Playfair+Display";
    font-size: 20px;
    font-weight: 500;
    color: #2d2d2d;
}

#tours p {
    font-size: 16px;
    color: #2d2d2d;
}

#tours .card-footer {
    border: none;
    background: white;
}

#cart h1 {
    font-family: "Playfair+Display";
    font-size: 40px;
    font-weight: 530;
    color: #2d2d2d;
}

#cart h2 {
    font-family: "Playfair+Display";
    font-size: 25px;
    font-weight: 510;
    color: #2d2d2d;
}

#cart .list-group {
    font-family: "Playfair+Display";
    font-size: 19px;
    color: #2d2d2d;
}

#cart .form-control {
    margin-top: 10px;
    width: 125px;
}

#cart .btn {
    margin-top: 10px;
}

#cart .my-cart {
    margin-top: 112px;
}

#cart .fill-cart {
    margin-top: 66px;
}